<p>
  parent works!
</p>

<h3>
  This is Parent Data 
</h3>


<!-- <div style="float:right">
  <h2>{{myDate }}</h2>
</div> -->


<ul  *ngFor="let i of Arraydata">
  <li>
        {{i.title}}
  </li>
</ul>




<input type="text"  #inputData >
<button class="btn btn-info"  (click)="viewChildData()">Get viewChild Data</button>

<app-child  [childInputArr]= "Arraydata"  (childOutputArr)= "getDataFromChildOutput($event)"   ></app-child>

<app-child-details  [myChildDetailsInputArr]= "OutputArrData"></app-child-details>




  
