<p>
  child-details works!
</p>


<h3>
  This is Child Details Data
</h3>



<!-- <ul  *ngFor="let i of myChildDetailsInputArr">  
  <li>
      {{i}}
  </li>
</ul> -->

{{myChildDetailsInputArr}}







  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Selected Child Details Data</h4>
        </div>
        <div class="modal-body">


          {{myChildDetailsInputArr}}
            <!-- <ul *ngFor="let s of myChildDetailsInputArr">
                 <li> <span>This is User Data ::</span>  {{s}}</li>
              </ul>    
                         -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"   (click)="clearData()"  >Close</button>
        </div>
      </div>
      
    </div>
  </div>
