

<h3>
  This is Child Data
</h3>


<div style="float:right">
  <h2>
      {{today}}

  </h2>
</div>


<table  class="table table-bordered" border="1px solid red">
  <thead>
      <th>user Id </th>
      <th>Id </th>
      <th>Title</th>
      <th>Completed </th>
    </thead>
  <tbody>
      <tr *ngFor="let i of childInputArr"   data-toggle="modal" data-target="#myModal"   >
          <td  (click)="selectedData(i.id)"  >{{i.id}}</td>
          <td   (click)="selectedData(i.userId)">{{i.userId}}</td>
          <td  (click)="selectedData(i.title)">{{i.title}}</td>
          <td   (click)="selectedData(i.completed)">{{i.completed}}</td>
      </tr>
  </tbody>
</table>






